
$ndp-orange: #F58220;
$conservative-blue: #000A86;
$liberal-red: #A70000;
$greenparty-green: #339933;

$header-color: #ffffff;

* {
  //fix ?
}

*, *:before, *:after {
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
   }

.clearfix:after {
     content: " ";
     visibility: hidden;
     display: block;
     height: 0;
     clear: both;
}

* {
  margin: 0;
  padding: 0;
}

html {
  background: #b0b0b0;
}

.wrapper {

  padding: 25px 15px; 
  width: 1200px;
  margin: 0 auto;
}


p {
	font-family: 'Open Sans', sans-serif;
}

header a {

    color: $header-color;
}

a {
	text-decoration: none;

  

  &:visited,&:active, {
    color: $header-color;
    


  }

  &:hover,&:focus {
    .blue {
      color: $header-color;
      
      border-bottom: 4px solid $conservative-blue;
    }
    .red {
      color: $liberal-red;
      color: $header-color;
      border-bottom: 4px solid $liberal-red;
    }
    .orange {
      color: $ndp-orange;
      color: $header-color;
      border-bottom: 4px solid $ndp-orange;
    }
    .green {
      color: $greenparty-green;
      color: $header-color;
      border-bottom: 4px solid $greenparty-green;
    }

  }
}


h4 {
	font-family: helvetica;
}

ul {
	padding: 0;
	margin: 0;
}






/*********************************************************************************
 *******************				Header: 	   			**********************
 *********************************************************************************/



header {
  margin: 0 auto;
  width: 89%;
	height: 175px;

  h1 {
    font-size: 66px;
    float: left;
    padding: 25px;
    font-weight: 300;
  }

  h1, ul.leaders li{
    font: 66px 'Oswald';
    color: $header-color;
    text-shadow: 2px 2px 3px grey;
    // font-style: italic;
    
  }

  ul {
    margin-top:25px;
    display:inline-block;
  }

}




/*********************************************************************************
 *******************				Dropdown: 	   			**********************
 *********************************************************************************/


ul li {
  font-size: 66px;
	list-style-type: none;
	width: 420px;
}
ul {
	position: relative;
}

ul li ul {
	position: absolute;
	bottom: -300%;
	left: 0;
}

ul li ul li {
	display: none;
}

ul li:hover ul li {
	display:block;

}




ul.leaders li ul li:hover {
	color:red;
}

ul.leaders li:first-child a:hover {
	color:red;
}


ul.leaders li:hover ul li a#2 {
  color: $ndp-orange;
}


ul.leaders li ul li a#blue {
  color: $conservative-blue;
}




/*********************************************************************************
 *******************         Quote-box:           **********************
 *********************************************************************************/

.quote-box {
  position: relative;
  // background-color: #d9d9d9;
  background-color: rgba(217,217,217,0.8);
  // border-top: 10px solid #b0b0b0;
  border-top: 10px solid rgba(176,176,176,0.7);
  border-radius: 5px;
  padding: 15px;
  height: 420px;
  width: 500px;
  // box-shadow: 2px 2px 5px grey;
  box-shadow: 2px 2px 5px rgba(176,176,176,0.9);
  // height: 500px;

  .speaker, .quotes {
    float: left;
  }


  #full-name{
    font: 22px 'Oswald';
    text-align: center;
  }

  .speaker, .speaker img, .speaker #full-name {
    width: 152px;
    margin-right: 15px;
  }

  .speaker img {
    margin-top: 5px;
  }

  .quotes{
    width: 288px;
  }

}



.quote-text {
  height: 340px;
  overflow: scroll;
}

.buttons{
  height: 70px;
  width: 100%;
}

button {
  float: right;
  vertical-align:bottom;
  display: block;
  margin: 20px auto;
  height: 25px;
  width: 50%;
  color: #ffffff;


  border-radius: 2px;
  
  // border-color: #99FF99; 
  // background-color: #4DB34D;

  border-color:#DA3333;
  background-color:#C11A1A;
  font: 14px 'helvetica';

  &:hover {
    //background: #66CC66;
    background: #F44D4D;
  }

  &:focus {
    outline: none;

  }

}



/*********************************************************************************
 *******************         Body and Background:           **********************
 *********************************************************************************/



.body-wrapper {
  
  background-position: right center;
  background-size: cover;
  //min-height: 1000px;
  height: 100vh;

}

.bg-harper,
.bg-trudeau,
.bg-mulcair,
.bg-may {
  min-height: 100vh;
}

.bg-harper {
  background: url(../images/backgrounds/harper-bg-scaled.jpg) no-repeat fixed;
}

.bg-trudeau {
  background: url(../images/backgrounds/trudeau-bg-scaled.jpg) no-repeat fixed;
  background-size: cover;
}

.bg-mulcair {
  background: url(../images/backgrounds/mulcair-bg-scaled.jpg) no-repeat fixed;
  background-size: cover;
}

.bg-may {
  background: url(../images/backgrounds/may-bg-scaled.jpg) no-repeat fixed;
  background-size: cover;
}






footer {
  position: fixed;
  bottom: 10px;
  right: 10px;
  text-align: right;
  p, a {

    color: #b0b0b0;
    font: 10px 'helvetica' ;
    
  }
  p{margin-right: 37px;}
}



