*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix:after {
  content: " ";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

* {
  margin: 0;
  padding: 0;
}

html {
  background: #b0b0b0;
}

.wrapper {
  padding: 25px 15px;
  width: 1200px;
  margin: 0 auto;
}

p {
  font-family: 'Open Sans', sans-serif;
}

header a {
  color: white;
}

a {
  text-decoration: none;
}

a:visited,
a:active {
  color: white;
}

a:hover .blue,
a:focus .blue {
  color: white;
  border-bottom: 4px solid #000a86;
}

a:hover .red,
a:focus .red {
  color: #a70000;
  color: white;
  border-bottom: 4px solid #a70000;
}

a:hover .orange,
a:focus .orange {
  color: #f58220;
  color: white;
  border-bottom: 4px solid #f58220;
}

a:hover .green,
a:focus .green {
  color: #339933;
  color: white;
  border-bottom: 4px solid #339933;
}

h4 {
  font-family: helvetica;
}

ul {
  padding: 0;
  margin: 0;
}

/*********************************************************************************
 *******************				Header: 	   			**********************
 *********************************************************************************/

header {
  margin: 0 auto;
  width: 89%;
  height: 175px;
}

header h1 {
  font-size: 66px;
  float: left;
  padding: 25px;
  font-weight: 300;
}

header h1,
header ul.leaders li {
  font: 66px 'Oswald';
  color: white;
  text-shadow: 2px 2px 3px grey;
}

header ul {
  margin-top: 25px;
  display: inline-block;
}

/*********************************************************************************
 *******************				Dropdown: 	   			**********************
 *********************************************************************************/

ul li {
  font-size: 66px;
  list-style-type: none;
  width: 420px;
}

ul {
  position: relative;
}

ul li ul {
  position: absolute;
  bottom: -300%;
  left: 0;
}

ul li ul li {
  display: none;
}

ul li:hover ul li {
  display: block;
}

ul.leaders li ul li:hover {
  color: red;
}

ul.leaders li:first-child a:hover {
  color: red;
}

ul.leaders li:hover ul li a#2 {
  color: #f58220;
}

ul.leaders li ul li a#blue {
  color: #000a86;
}

/*********************************************************************************
 *******************         Quote-box:           **********************
 *********************************************************************************/

.quote-box {
  position: relative;
  background-color: rgba(217, 217, 217, 0.8);
  border-top: 10px solid rgba(176, 176, 176, 0.7);
  border-radius: 5px;
  padding: 15px;
  height: 420px;
  width: 500px;
  -webkit-box-shadow: 2px 2px 5px rgba(176, 176, 176, 0.9);
  box-shadow: 2px 2px 5px rgba(176, 176, 176, 0.9);
}

.quote-box .speaker,
.quote-box .quotes {
  float: left;
}

.quote-box #full-name {
  font: 22px 'Oswald';
  text-align: center;
}

.quote-box .speaker,
.quote-box .speaker img,
.quote-box .speaker #full-name {
  width: 152px;
  margin-right: 15px;
}

.quote-box .speaker img {
  margin-top: 5px;
}

.quote-box .quotes {
  width: 288px;
}

.quote-text {
  height: 340px;
  overflow: scroll;
}

.buttons {
  height: 70px;
  width: 100%;
}

button {
  float: right;
  vertical-align: bottom;
  display: block;
  margin: 20px auto;
  height: 25px;
  width: 50%;
  color: #ffffff;
  border-radius: 2px;
  border-color: #DA3333;
  background-color: #C11A1A;
  font: 14px 'helvetica';
}

button:hover {
  background: #F44D4D;
}

button:focus {
  outline: none;
}

/*********************************************************************************
 *******************         Body and Background:           **********************
 *********************************************************************************/

.body-wrapper {
  background-position: right center;
  -webkit-background-size: cover;
  background-size: cover;
  height: 100vh;
}

.bg-harper,
.bg-trudeau,
.bg-mulcair,
.bg-may {
  min-height: 100vh;
}

.bg-harper {
  background: url(../images/backgrounds/harper-bg-scaled.jpg) no-repeat fixed;
}

.bg-trudeau {
  background: url(../images/backgrounds/trudeau-bg-scaled.jpg) no-repeat fixed;
  -webkit-background-size: cover;
  background-size: cover;
}

.bg-mulcair {
  background: url(../images/backgrounds/mulcair-bg-scaled.jpg) no-repeat fixed;
  -webkit-background-size: cover;
  background-size: cover;
}

.bg-may {
  background: url(../images/backgrounds/may-bg-scaled.jpg) no-repeat fixed;
  -webkit-background-size: cover;
  background-size: cover;
}

footer {
  position: fixed;
  bottom: 10px;
  right: 10px;
  text-align: right;
}

footer p,
footer a {
  color: #b0b0b0;
  font: 10px "helvetica";
}

footer p {
  margin-right: 37px;
}